.signup_form {
	position: relative;
	transition: transform 1s, opacity 0s;
	z-index: 10000;
}

.d4l__form-payment {
	position: relative;
	border-radius: 8px;
}

form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 8px;
}

form h1 {
	font-family: var(--font-family-1);
	margin-bottom: 1rem;
	font-size: 2rem;
}

form .p {
	font-size: 1.2rem;
	margin: 1rem 0;
}

form .btn {
	width: 100%;
}

.d4l__signup {
	position: absolute;
	top: 90px;
	right: 5px;
	width: 1350px;
	height: 85vh;
	backdrop-filter: blur(8px);

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.signup_option {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 60px;
}

.signup_logo {
	width: 40%;
	height: 100%;
	border: 2px solid #000;
	border-radius: 20px;
	padding: 0.4rem;

	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.signup_logo img {
	height: 100%;
}

@media screen and (max-width: 1050px) {
	.d4l__signup {
		right: -65px;
		width: 800px;
	}
}

@media screen and (max-width: 750px) {
	.d4l__signup {
		top: 90px;
		right: -65px;
		width: 650px;
		padding: 0 5rem;
	}
}
@media screen and (max-width: 550px) {
	form {
		padding: 1rem;
	}

	form .p {
		font-size: 1rem;
		margin: 0.5rem 0;
	}

	.signup_option {
		height: 40px;
	}

	.signup_logo {
		border-radius: 10px;
	}

	.d4l__signup {
		top: -300px;
		right: -40px;
		width: 350px;
		padding: 0;
	}
}

@media screen and (max-width: 370px) {
	form {
		padding: 1rem;
		height: 100%;
	}

	form h1 {
		margin-bottom: 0.5rem;
		font-size: 1rem;
	}

	form .p {
		font-size: 0.5rem;
		margin: 0.5rem 0;
	}

	.signup_option {
		height: 40px;
	}

	.signup_logo {
		border-radius: 10px;
	}

	.d4l__signup {
		top: -300px;
		right: -55px;
		width: 330px;
		padding: 0;
	}
}
