.d4l__navbar {
	position: fixed;
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 4rem;
	background: var(--color-silver);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	z-index: 99999;
}

.d4l__navbar-logo {
	font-family: var(--font-family-3);
	font-size: 1.3rem;
	letter-spacing: 2px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	/* position: relative; */
}

.d4l__navbar-logo img {
	width: 30px;
}

.d4l__navbar-logo span {
	color: var(--color-red);
}

.d4l__navbar-navlink {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.links ul {
	display: flex;
	list-style: none;
}

.links ul li {
	margin: 0 1.2rem;
}

.links ul li a {
	font-family: var(--font-family-1);
	font-size: 1.1rem;
	padding-bottom: 0.4rem;
}

.links ul li a:hover {
	color: var(--color-red);
	border-bottom: 2px solid var(--color-red);
	transition: 0.2s all ease-in-out;
}

.d4l__navbar-signup {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}

.d4l__navbar-signup p {
	font-family: var(--font-family-1);
	font-size: 1rem;
}

.d4l__navbar-signup button {
	width: 100px;
	height: 50px;
	padding: 0.3rem 0.8rem;
	border-radius: 4px;
	border: none;
	background: var(--color-dark-orange);
	font-size: 0.95rem;
	font-weight: 600;
	color: #fff;
	cursor: pointer;
}

.d4l__navbar-menu {
	margin-left: 1rem;

	display: none;
	position: relative;
}

.d4l__navbar-menu_container {
	position: absolute;
	right: 0;
	top: 40px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	background: var(--color-silver);
	padding: 2rem;
	margin-top: 1rem;
	min-height: 400px;
	width: 250px;
	z-index: 1000;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.d4l__navbar-menu_navlink ul {
	list-style: none;
}

.d4l__navbar-menu_navlink ul li {
	margin: 1rem 0;
	font-family: var(--font-link);
}

.d4l__navbar-menu_navlink ul li a {
	font-size: 1.5rem;
	font-family: var(--font-family-1);
}

.d4l__navbar-menu_navlink ul li a:hover {
	color: var(--color-red);
	border-bottom: 2px solid var(--color-red);
	transition: 0.2s all ease-in-out;
}

.d4l__navbar-menu_signup {
	display: none;
}

@media screen and (max-width: 1050px) {
	.d4l__navbar {
		display: flex;
		justify-content: space-between;
		padding: 1rem 4rem;
	}

	.links {
		display: none;
	}
	.d4l__navbar-menu {
		display: flex;
	}
}

@media screen and (max-width: 700px) {
	.d4l__navbar {
		padding: 1.5rem 2rem;
	}
}

@media screen and (max-width: 550px) {
	.d4l__navbar {
		padding: 1rem;
		height: 60px;
	}

	.d4l__navbar-logo {
		letter-spacing: 1.5px;
	}

	.d4l__navbar-signup {
		display: none;
	}

	.d4l__navbar-menu_signup {
		display: flex;
		width: 100%;
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: column;
	}

	.d4l__navbar-menu_signup p {
		font-family: var(--font-family-1);
		font-size: 1.1rem;
		margin-bottom: 1rem;
	}

	.d4l__navbar-menu_navlink ul li a {
		font-size: 1.1rem;
	}

	.d4l__navbar-menu_signup button {
		padding: 0.6rem 0.9rem;
		border-radius: 4px;
		border: none;
		background: var(--color-dark-orange);
		font-size: 1.2rem;
		font-weight: 600;
		color: #fff;
		cursor: pointer;
	}

	.d4l__navbar-menu_container {
		position: absolute;
		right: -30px;
		top: 28px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-direction: column;
		background: var(--color-silver);
		padding: 2rem;
		margin-top: 1rem;
		min-height: 95vh;
		width: 250px;
		z-index: 100;
		box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
	}
}

/* ////////////////////////////////////////////////////////////////////////////////// */
